@using OrchardCore.ContentManagement
@model PlayEco.OrchardCore.Cloud.Models.RegisterModel;
@inject IContentManager ContentManager;
@{
    Layout = "../_Layout";
}
<h1>User Registration Page</h1>
<div class="login-wrap d-flex flex-column align-items-center">
@using (Html.BeginForm("SubmitRegister", "Account", FormMethod.Post, new { @class = "row login-wrap col-4 g-3" }))
{
    <div class="form-group row g-1">
        <label for="Username">Username</label>
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div class="form-group row g-1">
        <label for="Email">Email</label>
        @Html.TextBoxFor(m => m.Email, new { type = "email" })
    </div>
    <div class="form-group row g-1">
        <label for="Password">Password</label>
        @Html.PasswordFor(m => m.Password)
    </div>
    <div class="form-group row g-1">
        <label for="ConfirmPassword">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group row g-1">
        <label for="AgeConfirmation">Age Confirmation</label>
        @Html.CheckBoxFor(m => m.AgeConfirmation)
        <span class="checkbox-label">I am over the age of 13 years old</span>
    </div>
    <div class="form-group row g-1">
        <label for="Newsletter">Join the newsletter</label>
        @Html.CheckBoxFor(m => m.Newsletter)
        <span class="checkbox-label">Join the Eco Newsletter</span>
    </div>
    <div class="form-group row g-1">
        <button type="submit" class="btn btn-primary">Create an account</button>
    </div>
    <div class="login-actions d-flex justify-content-between">
        <a href="/Account/Forgot">Forgot your password?</a>
        <a href="/Account/Login">Login</a>
    </div>
}
</div>